[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
arrow = "*"
"discord.py" = "*"
asyncpg = "*"
requests = "*"
python-dotenv = "*"
isort = {extras = ["pipfile_deprecated_finder", "requirements_deprecated_finder"], version = "*"}

[dev-packages]
autopep8 = "*"
pre-commit = "*"
pip-tools = "*"

[requires]
python_version = "3.10"
